<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia cumque quod odio iure reiciendis minus vel maxime, illo inventore adipisci tempore nam, dolorum id ipsam. Magni sed corrupti cumque magnam.</p>
    </div>
</div>