<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit possimus eum repellendus rem libero iure officiis, voluptas labore eligendi natus nobis perferendis vel quod, at quo accusantium illum quaerat molestiae.</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/seObando19">Seobando19</a>
</div>