<!-- Footer -->
<footer class="bg-dark text-center p-2">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <a class="fb-ic mr-3" role="button" href="https://www.facebook.com/sebastian.obando.925"><i class="fab fa-lg fa-facebook-f"></i></a>
      <a class="tw-ic mr-3" role="button" href="https://twitter.com/sebas199141"><i class="fab fa-lg fa-twitter"></i></a>
      <a class="ins-ic mr-3" role="button" href="https://www.instagram.com/sedban17/"><i class="fab fa-lg fa-instagram"></i></a>
      <a class="git-ic mr-3" role="button" href="https://github.com/seObando19"><i class="fab fa-lg fa-github"></i></a>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/seObando19"> seObando</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->